<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logPath">logs/</Property>
        <Property name="rollingFileName">viewer_backend</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%highlight{%level}{FATAL=red, ERROR=red, WARN=yellow bold, INFO=white, DEBUG=green bold, TRACE=blue}] %d{DEFAULT} - %msg%n%throwable{}" disableAnsi="false"/>
        </Console>
        <RollingFile name="rollingFile" fileName="${logPath}/${rollingFileName}.log" filePattern="${logPath}/${rollingFileName}_%d{yyyy-MM-dd}.log" append="true">
            <PatternLayout pattern="[%level] %d{DEFAULT} - %msg%n%throwable{}"/>
            <Policies>
                <!-- Causes a rollover once the date/time pattern no longer applies to the active file -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>